@media only screen and (max-width: 1024px){
	.main-header .nav-outer .main-menu,
	.sticky-header{
		display: none !important;
	}

	.nav-outer .mobile-nav-toggler{
		display: block !important;
		margin: 0;
		padding: 24px 0;
	}
	
	.main-header .header-upper .nav-outer:before{
		display:none !important;	
	}

	.main-header .dropdown > a > i{
		display: none !important;
	}
	
	.main-header .nav-outer{
		display: flex !important;
		align-items: center !important;
		justify-content: flex-start !important;
		margin-left: 10px !important;
		width:auto;
		float:none;	
	}
	
	.main-header .nav-outer .logo-outer{
		position:relative !important;
		left:0 !important;
		top: 8px !important;
		width:auto !important;
		height:auto !important;
		margin:0 !important;
		-webkit-transform: translateX(0) !important;
		-ms-transform: translateX(0) !important;
		transform: translateX(0) !important;	
	}

	.nav-outer .mobile-nav-toggler{
		position: absolute !important;
		right: 10px;
		top: 60%;
		transform: translateY(-50%) !important;
		line-height: 50px !important;
		display: block !important;
		margin: 0;
		padding: 24px 0;
	}


  /* =============== section Footer ================ */
  .footer-text{
        display: flex !important;
        position: relative;
        gap: 60px !important;
        padding: 20px 20px 0 20px !important;
      }
      .logo-section{
        margin-left: 0px !important;
      }
      .section-3{
        margin-top: -20px !important; 
      }
}

@media screen and (max-width: 768px) {
  /* =============== section Footer ================ */
  .footer-text{
    display: flex !important;
    position: relative;
    gap: 70px !important;
    padding: 20px 0 0 20px !important;
  }
  .logo-section{
    margin-left: 0px !important;
  }
  .section-3{
    margin-top: -40px !important; 
  }
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}
